/* form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 50px;

}
.submitBtn {
  display: block;
  background-color: pink;
  border: none;
  border-radius: 4px;
  width: 130px;
  height: 40px;
  color: white;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease-in-out;
}
.submitBtn:hover {
  transform: scale(1.1);
  background-color: #f54949;
}
h2 {
  margin-top: 0;
  text-align: center;
}

.nameInput,
.numberInput {
  margin-bottom: 15px;
  margin-left: 5px;
}
.nameInput {
  margin-left: 20px;
}
form label {
  color: #161d29;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
} */
